# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Foundry cache and output
cache/
out/
broadcast/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Solc bin
bin
